@{
    ViewBag.Title = "Giới thiệu";
}

<p>Website này được dùng để tra cứu Điều/Khoản luật an ninh mạng</p>
<address>
    Nhóm 5<br />
    Môn Bảo Mật Ứng Dụng Và Hệ Thống<br />
    Trường Đại Học Phenikaa<br />
</address>
<style>
    p {
        margin: 10px 0 10px;
    }
</style>